@import "reset.css";
@import "common.css";

/* 同一样式 */
.boyd {
  line-height: 2;
}

button {
  cursor: pointer;
}

a {
  color: #37a;
}
a:hover {
  color: #fff;
  background: #37a;
}
a:active {
  color: #fff;
  background: #f93;
}

ul {
  word-break: break-all;
  line-height: 2;
}

/* 同一样式结束 */

/* 首页同用样式 */
.container {
  width: 950px;
  margin: 0 auto;
  /* height: 30px;
background: red; */
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.section {
  padding: 35px 0;
}

.section:nth-child(even) {
  background: #f7f7f7;
}

.aside-left {
  float: left;
  width: 100px;
  margin-left: 20px;
}

.aside-right {
  float: right;
  width: 265px;
  /* margin-right: 30px; */
}

.main {
  /* 创建BFC */
  overflow: hidden;
}

.adv img {
  width: 100%;
  display: block;
}

.section-title {
  margin: 12px 0;
}

.section-title .title {
  display: inline;
  color: #072;
  font-size: 15px;
}

.section-title .title::after {
  content: " · · · · · · ";
}
.section-title .link {
  font-size: 12px;
}

.section-title .link::before {
  content: "(";
}
.section-title .link::after {
  content: ")";
}

.section-title .a:hover {
  background: #669;
  color: #fff;
}

.adv-tag::after {
  content: "广告";
  color: #c9c9c9;
  font-size: 13px;
}

.aside-left .title {
  font-size: 24px;
}

.dark-color {
  color: #494949;
}

.item-list li {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}

.item-list li .img img {
  width: 100%;
  display: block;
}

.left-meun {
  font-size: 14px;
}

.left-meun a.new {
  position: relative;
}

.left-meun a.new::after {
  content: "";

  background: url("../img/new_menu.gif") no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  right: -20px;
  top: 0;
}

.right-menu-list {
  font-size: 12px;
}

.right-menu-list li {
  float: left;
}

.block-link {
  padding: 2px 10px;
  background: red;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
}

/* 首页通用样式结束 */

/*  页头开始*/

.header {
  height: 90px;
  margin-top: 30px;
  box-sizing: border-box;
}

.header .logo a {
  height: 0;
  width: 154px;
  overflow: hidden;
  padding-top: 30px;
  display: block;
  background: url(../img/logo.png) no-repeat left top/100%;
}

/* .header .logo a span {
  display: none;
} */

.header .search {
  height: 30px;
  width: 270px;
  border: 1px solid #c3c3c3;
  margin-left: 20px;
  position: relative;
  line-height: normal;
}

.header .search .txt {
  width: 240px;
  height: 20px;
  padding: 5px;
  font-size: 13px;
  margin-top: 0;
}

.header .search .txt::placeholder {
  color: #ccc;
}

.header .search button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: #c3c3c3;
}

.header .menu {
  margin-top: 6px;
}

.header .menu a {
  background: url(../img/nav_logo.png) no-repeat left top/463px 20px;
  width: 40px;
  height: 20px;
  float: left;
  margin-left: 20px;
}

.header .menu .menu-read {
  background-position: 0 0;
}
.header .menu .menu-movie {
  background-position: -60px 0;
}
.header .menu .menu-music {
  background-position: -120px 0;
}
.header .menu .menu-group {
  background-position: -180px 0;
}
.header .menu .menu-city {
  background-position: -240px 0;
}
.header .menu .menu-fm {
  background-position: -300px 0;
}
.header .menu .menu-time {
  background-position: -360px 0;
}
.header .menu .menu-doupin {
  background-position: -420px 0;
  width: 43px;
}
/* 页头结束 */

/* 横幅开始 */
.banner {
  height: 300px;
  background: url("../img/banner-bg.jpg") no-repeat 60px top/auto 100% #edf4ed;
}

.banner .container .loginarea {
  height: 300px;
  height: 300px;
}

.banner .container .slogan {
  margin-top: 100px;
  margin-right: 32px;
}

.banner .container .slogan .title {
  font-size: 25px;
  color: #111;
  font-weight: normal;
  /* text-align: center; 水平居中
  line-height: 1.5; */
}

.banner .container .slogan .title span {
  margin-left: 10px;
}

.banner .container .slogan .download {
  margin-top: 25px;
}

.banner .container .slogan .download .btn {
  width: 115px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 2px;
}

.banner .container .slogan .download .qrcode {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #48aa0d;
  border-radius: 2px;
  vertical-align: bottom;
  position: relative;
}

.banner .container .slogan .download .qrcode img {
  width: 100%;
  height: 100%;
}

.banner .container .qrcode-img {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
}

.banner .container .qrcode-img p {
  color: #666;
  font-size: 13px;
  text-align: center;
}

.banner .container .slogan .download .qrcode:hover .qrcode-img {
  display: block;
}
/* 横幅结束 */

/* 热门区域开始 */

.hot-list {
  line-height: 1.5;
}

.hot-list li {
  margin-bottom: 15px;
}

.hot-list li .title {
  font-size: 14px;
}
.hot-list li .desc {
  font-size: 13px;
  color: #aaaaaa;
}
.hot-list li .desc span {
  margin-right: 4px;
}

.hot-main .left {
  width: 350px;
}

.hot-main ul {
  text-align: justify;
  line-height: 1.5;
}

.hot-main ul::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.hot-main .left li {
  width: 170px;
  font-size: 12px;
  margin: 10px 0;
}

.hot-main .left li .words span {
  color: #999;
}

.hot-main .right {
  width: 275px;
  font-size: 12px;
}

.hot-main .right li {
  margin-bottom: 12px;
}

.hot-main .right li .title {
  color: #999;
}

.hot-main .right li .desc {
  color: #666;
}
/* 热门区域结束 */

/* 豆瓣时间开始 */

.time-main li {
  width: 100px;
  margin-left: 60px;
  margin-bottom: 30px;
  font-size: 13px;
  text-align: center;
}

.time-main li .words a {
  color: #333;
}

.time-main li .words a:hover {
  color: #fff;
}

.time-main li .words span {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 10px;
}
/* 豆瓣时间结束 */

/* 豆瓣视频开始 */

.video-main .section-title a:hover {
  background: initial;
}
.video-main li {
  width: 250px;
  margin-right: 30px;
  font-size: 13px;
}

.video-main li:nth-child(3n) {
  margin: 0;
}

.video-main li .img {
  position: relative;
}

.video-main li .img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  line-height: 144px;
  font-size: 35px;
}
/* 豆瓣视频结束 */

/* 豆瓣电影开始 */

.movie-area .right-menu-list li {
  width: 48px;
  height: 20px;
  overflow: hidden;
}

.oorder-movie-list {
  font-size: 12px;
}
.oorder-movie-list li {
  list-style-type: decimal;
  list-style-position: inside;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 6px;
}

.oorder-movie-list li a {
  margin-left: 5px;
}

.movie-area .item-list li {
  width: 100px;
  margin-right: 38px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 13px;
}

.movie-area .item-list li:nth-child(4n) {
  margin-right: 0;
}

.movie-area .item-list li .words {
  margin-top: 10px;
  margin-bottom: 4px;
}
.movie-area .item-list li .words a {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 超出部分用省略号表示 */
}

.movie-area .star .number {
  font-size: 12px;
  margin-left: 6px;
  color: #e09015;
}
.movie-area .func {
  margin-top: 7px;
}

.movie-area .func .block-link {
  background: #1c8bd0;
  color: #fff;
}

.movie-area .func .block-link:hover {
  background: #047fcb;
}

/* 豆瓣电影结束 */
